<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>PPE Detection</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="Construction Company Website Template" name="keywords">
  <meta content="Construction Company Website Template" name="description">

  <!-- Favicon -->
  <link href="img/favicon.ico" rel="icon">

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

  <!-- CSS Libraries -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
  <link href="lib/flaticon/font/flaticon.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">
  <link href="lib/slick/slick.css" rel="stylesheet">
  <link href="lib/slick/slick-theme.css" rel="stylesheet">

  <!-- Template Stylesheet -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>

<body>
  <div class="wrapper">
    <!-- Top Bar Start -->
    <div class="top-bar">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-lg-6 col-md-12">
            <div class="logo">
              <a href="index.html">
                <h1>PPE Detection</h1>
                <!-- <img src="img/logo.jpg" alt="Logo"> -->
              </a>
            </div>
          </div>
          <div class="col-lg-8 col-md-7 d-none d-lg-block">
            <div class="row">
              <div class="col-4">
                <div class="top-bar-item">
                  <div class="top-bar-icon">
                    <i class="flaticon-calendar"></i>
                  </div>
                  <div class="top-bar-text">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Top Bar End -->

    <!-- Nav Bar Start -->
    <div class="nav-bar">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
          <a href="#" class="navbar-brand">MENU</a>
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav mr-auto">
              <a href="https://ppe-detection.nikitashrestha1.repl.co" class="nav-item nav-link">Home</a>
              <a href="about.html" class="nav-item nav-link active">About</a>
              <a href="team.html" class="nav-item nav-link">Team</a>
              <a href="results.html" class="nav-item nav-link">results</a>
            </div>
            <div class="ml-auto">
              <a class="btn" href="/">View Demo</a>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <!-- Nav Bar End -->


    <!-- Page Header Start -->
    <div class="page-header">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2>About Us</h2>
          </div>
          <div class="col-12">
            <a href="">Home</a>
            <a href="">About Us</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Page Header End -->


    <!-- About Start -->
    <div class="about wow fadeInUp" data-wow-delay="0.1s">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-5 col-md-6">
            <div class="about-img">
              <img src="{{ url_for('static', filename='img/about.jpg')}}" alt="Image">
            </div>
          </div>
          <div class="col-lg-7 col-md-6">
            <div class="section-header text-left">
              <p>Welcome to PPE Detection</p>

            </div>
            <div class="about-text">
              <p>Feist Finches, our team, has developed an AI system designed to assist construction workers throughout
                their workday. While considering various AI applications, we deliberately selected this particular
                project. The completed AI has the potential to provide valuable support to real construction workers.
                Its functionality relies on identifying specific attributes that are unique to construction workers,
                such as helmets, vests, and goggles. </p>
              <p>
                Sadly, numerous construction workers lose their lives each year due to various causes, with falls being
                the leading cause of fatalities. Wearing personal protective equipment (PPE) is the most effective means
                of preventing such accidents. By leveraging our AI, we aim to save lives and enhance the safety of
                construction workers.
              </p>
              <a class="btn" href="">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- About End -->


    <!-- Fact Start -->

    <!-- Fact End -->


    <!-- Footer Start -->
    <div class="footer wow fadeIn" data-wow-delay="0.3s">
      <div class="container copyright">
        <div class="row">
          <div class="col-md-6">
            <p>&copy; <a href="#">PPE DETECTION</a>, All Right Reserved.</p>
          </div>
          <div class="col-md-6">
            <p>Designed By <a href="https://htmlcodex.com">Feist Finches</a></p>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer End -->


    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  </div>

  <!-- JavaScript Libraries -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/isotope/isotope.pkgd.min.js"></script>
  <script src="lib/lightbox/js/lightbox.min.js"></script>
  <script src="lib/waypoints/waypoints.min.js"></script>
  <script src="lib/counterup/counterup.min.js"></script>
  <script src="lib/slick/slick.min.js"></script>

  <!-- Template Javascript -->
  <script src="js/main.js"></script>
</body>

</html>