<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>PPE Detection</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Construction Company Website Template" name="keywords">
        <meta content="Construction Company Website Template" name="description">

        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="lib/flaticon/font/flaticon.css" rel="stylesheet"> 
        <link href="lib/animate/animate.min.css" rel="stylesheet">
        <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">
        <link href="lib/slick/slick.css" rel="stylesheet">
        <link href="lib/slick/slick-theme.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet">
    </head>

    <body>
        <div class="wrapper">
            <!-- Top Bar Start -->
            <div class="top-bar">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12">
                            <div class="logo">
                                <a href="index.html">
                                    <h1>PPE Detection</h1>
                                    <!-- <img src="img/logo.jpg" alt="Logo"> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
            <!-- Top Bar End -->

            <!-- Nav Bar Start -->
            <div class="nav-bar">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
                        <a href="#" class="navbar-brand">MENU</a>
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                            <div class="navbar-nav mr-auto">
                                <a href="https://ppe-detection.nikitashrestha1.repl.co" class="nav-item nav-link">Home</a>
                                <a href="about.html" class="nav-item nav-link">About</a>
                                <a href="team.html" class="nav-item nav-link active">Team</a>
                                <a href="results.html" class="nav-item nav-link">Results</a>
                            </div>
                            <div class="ml-auto">
                                <a class="btn" href="/">View Demo</a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- Nav Bar End -->
            
            
            <!-- Page Header Start -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2>Our Team</h2>
                        </div>
                        <div class="col-12">
                            <a href="">Home</a>
                            <a href="">Our Team</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page Header End -->


            <!-- Team Start -->
    <div class="team">
      <div class="container">
        <div class="section-header text-center">
          <p>Our Team</p>
          <h2>Meet Our Programmers</h2>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="team-item">
                <div class="team-img">
                    <img src="{{ url_for('static', filename='img/team-1.jpg')}}" alt="Team Image">
                    <div class="overlay">
                        <p>I am a lead instructor for computer vision at AiCamp. I enjoy mentoring and guiding young minds to
                          pave their path into the world of Artificial Intelligence and Machine Learning.</p>
                    </div>
                </div>
                <div class="team-text">
                    <h2>Nikita Shrestha</h2>
                    <p>Mentor/Instructor</p>
                </div>
                <div class="team-social">
                    <a class="social-li" href="https://www.linkedin.com/in/nikita-shrestha-1a8b67179/"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="team-item">
                <div class="team-img">
                    <img src="{{ url_for('static', filename='img/joshua.JPG')}}" alt="Team Image">
                    <div class="overlay">
                        <p>Hello! My name is Joshua and I'm an upcoming Junior currently attending Chadwick School in California. I've been coding for the last three years and I'm really interested in AI and software development.</p>
                    </div>
                </div>
                <div class="team-text">
                    <h2>Joshua Zhang</h2>
                    <p>Machine Learning and Project Manager</p>
                </div>
                <div class="team-social">
                    <a class="social-li" href="https://www.linkedin.com/in/nikita-shrestha-1a8b67179/"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
          </div>
          
          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="team-item">
                <div class="team-img">
                    <img src="{{ url_for('static', filename='img/teddy.JPG')}}" alt="Team Image">
                    <div class="overlay">
                        <p>.Hi! I'm Teddy and I am going into freshman year in South Whidbey. I have been learning programming on my own for a year now and am very interested in machine learning, and python</p>
                    </div>
                </div>
                <div class="team-text">
                    <h2>Teddy Alexander</h2>
                    <p>Frontend Designer</p>
                </div>
                <div class="team-social">
                    <a class="social-li" href="https://www.linkedin.com/in/nikita-shrestha-1a8b67179/"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
          </div>
          
          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="team-item">
                <div class="team-img">
                    <img src="{{ url_for('static', filename='img/team-3.JPG')}}" alt="Team Image">
                    <div class="overlay">
                        <p>Hi! I'm a middle schooler going to 8th grade at International School of Beaverton. I got started learning coding 3 weeks ago. I want to further explore into AI as I have seen some cool ways it could be incorporated in daily life.</p>
                    </div>
                </div>
                <div class="team-text">
                    <h2>Zeeshan Kasim</h2>
                    <p>Frontend</p>
                </div>
                <div class="team-social">
                    <a class="social-li" href="https://www.linkedin.com/in/nikita-shrestha-1a8b67179/"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
          </div>
          
          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="team-item">
                <div class="team-img">
                    <img src="{{ url_for('static', filename='img/elodia.JPG')}}" alt="Team Image">
                    <div class="overlay">
                        <p>Hi! I'm Elodia and I am going into high school in LA. I've been coding for about a year now and am looking to improve my skills. I'm generally interested in everything STEM (although I like way too many things) and I want to incorporate AI into whatever I do next.</p>
                    </div>
                </div>
                <div class="team-text">
                    <h2>Elodia Honigstein</h2>
                    <p>Backend Developer</p>
                </div>
                <div class="team-social">
                    <a class="social-li" href="https://www.linkedin.com/in/nikita-shrestha-1a8b67179/"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Team End -->


            <!-- Footer Start -->
          <div class="footer wow fadeIn" data-wow-delay="0.3s">
      <div class="container copyright">
        <div class="row">
          <div class="col-md-6">
            <p>&copy; <a href="#">PPE DETECTION</a>, All Right Reserved.</p>
          </div>
          <div class="col-md-6">
            <p>Designed By <a href="https://htmlcodex.com">Feist Finches</a></p>
          </div>
        </div>
      </div>
    </div>
            <!-- Footer End -->

            <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        </div>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="lib/easing/easing.min.js"></script>
        <script src="lib/wow/wow.min.js"></script>
        <script src="lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="lib/isotope/isotope.pkgd.min.js"></script>
        <script src="lib/lightbox/js/lightbox.min.js"></script>
        <script src="lib/waypoints/waypoints.min.js"></script>
        <script src="lib/counterup/counterup.min.js"></script>
        <script src="lib/slick/slick.min.js"></script>

        <!-- Template Javascript -->
        <script src="js/main.js"></script>
    </body>
</html>
